.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  max-height: 293px;
  padding: 93px 50px 100px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-image {
  width: 135px;
}

.header__links-list {
  display: flex;
  gap: 34px;
  line-height: 21px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  max-width: 237px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 100;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.19;
}

.aligned-text {
  display: flex;
  flex-direction: column;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  margin-top: 15px;
  margin-right: -29px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 15px;
  margin-right: -30px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30.5px;
}

.cover__description {
  position: relative;
  z-index: 100;
  margin-top: 106px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  font-size: 22px;
  line-height: 26px;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 100;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 100;
  color: white;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
  font-size: 20px;
}

.about {
  min-height: 595px;
  padding: 34px 24px 0 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 240px auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  align-self: center;
  justify-content: end;
  width: 149px;
}

.about__title {
  align-self: center;
  margin-top: 6px;
  margin-left: 25px;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column-start: -1;
  grid-column-end: 2;
  gap: 24px;
  margin-top: 9px;
  margin-left: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: start;
  margin-top: 180px;
  padding: 0 50px;
  font-size: 18px;
}

.footer__address {
  max-width: 260px;
}

.footer__menu {
  text-align: center;
  line-height: 21px;
}

.footer__menu-list {
  display: inline-block;
  white-space: nowrap;
}

.footer__menu-list-item {
  display: block;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
}

.footer__menu-link_active .footer__menu-link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
